{% extends "base.html" %}
{% block content %}

<table class="table table-borderless">
    <form method="POST" action="{% url 'gcodedb:importxls_contractdetail' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile" accept=".xls">
        <button type="submit">Import Excel</button>
    </form>
    <br>
    <a href="{% url 'gcodedb:exportxls_contractdetail' %}">Export to Excel</a>
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Contract</td>
            <td>Contract No. Client</td>
            <td>Date Sign</td>
            <td>Client</td>
            <td>Deadline 1</td>
            <td>Deadline 2</td>
            <td>Selling Price</td>
            <td>Status</td>
            <td>Date Delivery Latest</td>
            <td>
                <a href="/contractdetail/insert" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for contractdetail in contractdetail_list %}
            <tr>
                <td>{{contractdetail.contractcode}}</td>
                <td>{{contractdetail.contractnoclient}}</td>
                <td>{{contractdetail.datesign|date:"d-m-Y"}}</td>
                <td>{{contractdetail.client}}</td>
                <td>{{contractdetail.sales}}</td>
                <td>{{contractdetail.dealinegh|date:"d-m-Y"}}</td>
                <td>{{contractdetail.sellcost}}</td>
                <td>{{contractdetail.status}}</td>
                <td>{{contractdetail.datedeliverylatest|date:"d-m-Y"}}</td>
                <td>
                    <a href="/contractdetail/update/{{contractdetail.id}}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <a href="/contractdetail/delete/{{contractdetail.id}}" class="btn text-secondary px-0">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}