{% extends "base.html" %}
{% block content %}
<a href="{% url 'gcodedb:exportxls_contract' %}">Export Form to Excel</a>
<form method="POST" action="{% url 'gcodedb:importxls_contract' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" accept=".xls,.xlsx">
    <button type="submit">Import Excel</button>
</form>
<br>
<br>
{{ contract_list|safe }}
<br>
{% if messages_ %}
    <ul class="messagelist">
        {% for message in messages_ %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if warnings %}
<br>
<p>Some warnings:</p>
    <ul class="messagelist">
        {% for warn in warnings %}
            <li>{{ warn }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}