{% extends  'base.html' %}
{% load static %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p}}
		
		<table class="table form-table table-bordered table-sm" id="offer">
            <thead class="text-center">
            <tr>
                <td>Gcode</td>
                <td>Ký mã hiệu</td>
                <td>Đơn vị</td>
                <td>Số lượng</td>
                <td>Supplier</td>
                <td>NSX</td>
                <td>STT in ITB</td>
                <td>Group in ITB</td>
                <td>Sales</td>
                <td>Đơn giá mua</td>
                <td>Thành tiền mua</td>
                <td>Đơn giá chào</td>
                <td>Thành tiền chào</td>
                <td>Markup</td>
                <td>Kết quả</td>
                <td>Ghi chú</td>    
                <td>GDV</td>           
            </tr>
            </thead>
            <tbody>
            {% for f in formset %}
                <tr class="g1codeformset">
                    <td>{{f.gcode}}</td>
                    <td>{{f.kymahieuinq}}</td>
                    <td>{{f.unit}}</td>
                    <td>{{f.qtyinq}}</td>
                    <td>{{f.suppliercode}}</td>
                    <td>{{f.nsxinq}}</td>
                    <td>{{f.sttitb}}</td>
                    <td>{{f.groupitb}}</td>
                    <td>{{f.sales}}</td>
                    <td class="dongiamua">{{f.dongiamuainq}}</td>
                    <td class="thanhtienmua">{{f.thanhtienmuainq}}</td>
                    <td class="dongiachao">{{f.dongiachaoinq}}</td>
                    <td class="thanhtienchao">{{f.thanhtienchaoinq}}</td>
                    <td>{{f.markupinq}}</td>
                    <td>{{f.resultinq}}</td>
                    <td>{{f.ghichu}}</td>
                    <td>{{f.gdvinq}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="totalmua"><input type="text" disabled></td>
                <td></td>
                <td class="totalchao"><input type="text" disabled></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        {{ formset.management_form }}

		<button type="submit">Submit</button>
	</form>
{% endblock %}
{% block extra_script %}
<script src="{% static 'js/autosize.min.js' %}"></script>
<script>autosize(document.querySelectorAll('#autosize'));</script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.g1codeformset').formset({
      addText: 'add',
      deleteText: 'remove',
      prefix: 'fk_g1codeinquiry',
    });
/*     function CapnhatTotal(){
        let tableInstance = $('#offer td.thanhtienmua');
        let totals = 0.0;
        tableInstance.each(function() {
            totals = totals + Math.floor($(this).input.text());
        });
        $(".totalmua :input").val(totals);
    } */
    $("input.ttm").change(function(){
    sum=0
    $("input.ttm").each(function(){
        sum += parseInt($(this).val());
        })
    $(".totalmua :input").val(sum);
    });
    $("input.ttc").change(function(){
    sum=0
    $("input.ttc").each(function(){
        sum += parseInt($(this).val());
        })
    $(".totalchao :input").val(sum);
    });
    $(document).ready(function() {
        let tableInstance = $('#offer input.ttm');
        let totals = 0.0;
        var str1;
        tableInstance.each(function() {
            totals = totals + Math.floor($(this).val());
        });
        $(".totalmua :input").val(totals);
        let tableInstance1 = $('#offer input.ttc');
        let totals1 = 0;
        tableInstance1.each(function() {
            totals1 = totals1 + parseFloat($(this).val());
        });
        $(".totalchao :input").val(totals1);
    });
</script>
{% endblock%}
