{% extends "base.html" %}
{% block content %}
{% load static %}
<table class="table table-borderless">
    <form method="POST" action="{% url 'gcodedb:importxls_giaohang' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile" accept=".xls">
        <button type="submit">Import Excel</button>
    </form>
    <br>
    <a href="{% url 'gcodedb:exportxls_giaohang' %}">Export to Excel</a>
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>G2code</td>
            <td>Contract No.</td>
            <td>Gcode</td>
            <td>Mô tả</td>
            <td>Ký mã hiệu</td>
            <td>Đơn vị tính</td>
            <td>Số lượng</td>
            <td>Ngày giao hàng</td>
            <td>Giao dịch viên</td>
            <td>
                <a href="/giaohang/insert" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for giaohang in giaohang_list %}
            <tr>
                <td>{{giaohang.g2code}}</td>
                <td>{{giaohang.contract}}</td>
                <td>{{giaohang.gcode}}</td>
                <td>{{giaohang.mota}}</td>
                <td>{{giaohang.kymahieu}}</td>
                <td>{{giaohang.unit}}</td>
                <td>{{giaohang.qtygiaohang}}</td>
                <td>{{giaohang.ngaygiaohang|date:"d-m-Y"}}</td>
                <td>{{giaohang.gdvgiaohang}}</td>
                <td>
                    <a href="/giaohang/update/{{giaohang.id}}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <a href="/giaohang/delete/{{giaohang.id}}" class="btn text-secondary px-0">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
