{% extends "base.html" %}
{% block content %}
{% load static %}
<table class="table table-borderless">
    <form method="POST" action="{% url 'gcodedb:importxls_kho' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Import Excel</button>
    </form>
    <br>
    <a href="{% url 'gcodedb:exportxls_kho' %}">Export to Excel</a>
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>G2code</td>
            <td>Số lượng nhập kho</td>
            <td>Đơn giá freight</td>
            <td>Ngày nhập kho</td>
            <td>Giao dịch viên</td>
            <td>Tổng giá Freight</td>
            <td>Mô tả</td>
            <td>Ký mã hiệu</td>
            <td>Đơn vị tính</td>
            <td>
                <a href="/kho/insert" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for kho in kho_list %}
            <tr>
                <td>{{kho.g2code}}</td>
                <td>{{kho.qtykho}}</td>
                <td>{{kho.dongiafreight}}</td>
                <td>{{kho.ngaynhapkho}}</td>
                <td>{{kho.gdvkho}}</td>
                <td>{{kho.thanhtienfreight}}</td>
                <td>{{kho.motahanghoa}}</td>
                <td>{{kho.kymahieu}}</td>
                <td>{{kho.donvitinh}}</td>
                <td>
                    <a href="/kho/update/{{kho.g2code}}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <a href="/kho/delete/{{kho.g2code}}" class="btn text-secondary px-0">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
