{% extends "base.html" %}
{% block content %}
<form method="POST" action="{% url 'gcodedb:importxls_offer' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" accept=".xls">
    <button type="submit">Import Excel</button>
</form>
<br>
<a href="{% url 'gcodedb:exportxls_offer' %}">Export to Excel</a>
{{ offer_list|safe }}
<br>
{% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}
{% block extra_script %}
<script type="text/javascript">
    $( document ).ready(function() {
        $('td.markup').text = parseFloat($('td.markup').text).toFixed(2);
    });
</script>
{% endblock %}