{% extends "base.html" %}
{% block content %}

<table class="table table-borderless" border="1px">
    <form method="POST" action="{% url 'gcodedb:importxls_offer' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile" accept=".xls">
        <button type="submit">Import Excel</button>
    </form>
    <br>
    <a href="{% url 'gcodedb:exportxls_offer' %}">Export to Excel</a>
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Gcode-Inquiry</td>
            <td>Gcode</td>
            <td>Inquiry</td>
            <td>Ký mã hiệu</td>
            <td>Đơn vị</td>
            <td>Số lượng</td>
            <td>Supplier</td>
            <td>Xuất xứ</td>
            <td>NSX</td>
            <td>STT in ITB</td>
            <td>Group in ITB</td>
            <td>Sale</td>
            <td>Đơn giá mua</td>
            <td>Thành tiền mua</td>
            <td>Đơn giá chào</td>
            <td>Thành tiền chào</td>
            <td>Markup</td>
            <td>Result</td>
            <td>Lý do Win</td>
            <td>Lý do Out</td>
            <td>Ghi Chú</td>
            <td>Giao dịch viên</td>
            <td>
                <a href="/offer/insert" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for offer in offer_list %}
            <tr>
                <td>{{offer.g1code}}</td>
                <td>{{offer.gcode}}</td>
                <td>{{offer.inquiry}}</td>
                <td>{{offer.kymahieuinq}}</td>
                <td>{{offer.unitinq}}</td>
                <td>{{offer.qtyinq}}</td>
                <td>{{offer.supplier}}</td>
                <td>{{offer.xuatxuinq}}</td>
                <td>{{offer.nsxinq}}</td>
                <td>{{offer.sttitb}}</td>
                <td>{{offer.groupitb}}</td>
                <td>{{offer.sales}}</td>
                <td>{{offer.dongiamuainq}}</td>
                <td>{{offer.thanhtienmua}}</td>
                <td>{{offer.dongiachaoinq}}</td>
                <td>{{offer.thanhtienchao}}</td>
                <td class="markup">{{offer.markupinq}}</td>
                <td>{{offer.resultinq}}</td>
                <td>
                    {% for lydowin in offer.lydowin.all %}
                        {{lydowin.lydowincode}},
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {% for lydoout in offer.lydoout.all %}
                        {{lydoout.lydooutcode}},
                        <br>
                    {% endfor %}
                </td>
                <td>{{offer.ghichu}}</td>
                <td>{{offer.gdvinq}}</td>
                <td>
                    <a href="/offer/update/{{offer.id}}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <a href="/offer/delete/{{offer.id}}" class="btn text-secondary px-0">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block extra_script %}

<script type="text/javascript">
    $( document ).ready(function() {
        $('td.markup').text = parseFloat($('td.markup').text).toFixed(2);
    });
</script>
{% endblock %}