{% extends  "pages/base.html" %}
{% block title %}
Show Data
{% endblock %}

{% block content %}
<!-- {% for gcode in Gcodes %}
   <h4>{{gcode.id}}<a href="/gcodedb/{{gcode.id}}">{{gcode.ma}}</a></h4>
{% endfor %}
<a href="{% url 'export_users_csv' %}">Export to CSV</a>
<br>
<a href="{% url 'export_users_xls' %}">Export to Excel</a>
<br> -->
<form action="{% url 'savedata' %}" method="POST">
   {% csrf_token %}
   Gcode: <input type="text" name="ma" value="{{form.ma}}"><br/>
   Mô tả: <input type="text" name="mota" value="{{form.mota}}"><br/>
<!--    <textarea cols="50" rows="4" name="mota"></textarea><br/>-->
   Xuất xứ: <input type="text" name="xuatxu" value="{{form.xuatxu}}"><br/> 
   Markup định mức: <input type="number" step="0.01" name="markupdinhmuc" value="{{form.markupdinhmuc}}"><br/> -->
   <input type="submit" value="Add"/>
</form>
<!-- <table style="border: 1px;">
   <tr style="border: 1px;">
      <th>Gcode</th>
      <th>Mô tả</th>
      <th>Xuất xứ</th>
      <th>Markup</th>
   </tr>
   {% for gcode in Gcodes %}
   <tr style="border:1px;">
      <td>{{gcode.ma}}</td>
      <td>{{gcode.mota}}</td>
      <td>{{gcode.xuatxu}}</td>
      <td>{{gcode.markupdinhmuc}}</td>
   </tr>
   {% endfor %}
</table> -->
{% endblock %}